@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-gray-950 text-white;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.animate-fadeOut {
	animation: fadeOut 0.5s;
}

.mobile-container {
	margin: 0 10px; /* Puedes ajustar el valor de 10px según tus necesidades */
}

/* Agrega un media query para eliminar el margen en pantallas más grandes si es necesario */
@media (min-width: 768px) {
	.mobile-container {
		margin: 0; /* Asegúrate de ajustar el valor según tus necesidades */
	}
}
